<div class="jumbotron">


  <!--EXAMPLE DIRECTIVE FOR TRIGGERING $compile-->

  <greeting name="Solid Spherical Mass Orbiting Luminous Gravitating Plasma" ng-transclude>
    <h2><small>It's a pleasure to meet you...</small></h2>
  </greeting>

</div>

<div class="row marketing">

  <h4>Example Directive</h4>

  <pre><code>
   &lt;greeting name="Solid Spherical Mass Orbiting Luminous Gravitating Plasma" ng-transclude&gt;
    &lt;h2&gt;&lt;small&gt;It's a pleasure to meet you...&lt;/small&gt;&lt;/h2&gt;
  &lt;/greeting&gt;
  </code></pre>

  <pre><code>
  angular.module('readthesource')
  .directive('greeting', function ($compile) {
    return {
      restrict: 'E',
      scope: true,
      transclude: true,
      template: '&lt;div class="alert" ng-transclude&gt;&lt;/div&gt;',
      link: function (scope, element, attrs) {
        scope.name = attrs['name'];
        debugger;
        var el = $compile('&lt;h3&gt;Hello, {{name}}!&lt;/h3&gt;')(scope);
        element.prepend(el);
      }
    }
  });
  </code></pre>

  <h4>compile function</h4>
  <p><a href="https://github.com/angular/angular.js/blob/master/src/ng/compile.js#L808">https://github.com/angular/angular.js/blob/master/src/ng/compile.js#L808</a></p>

  <h4>linking function</h4>
  <p><a href="https://github.com/angular/angular.js/blob/master/src/ng/compile.js#L826">https://github.com/angular/angular.js/blob/master/src/ng/compile.js#L826</a></p>

  <h4>$digest</h4>
  <p><a href="https://github.com/angular/angular.js/blob/master/src/ng/rootScope.js#L549">https://github.com/angular/angular.js/blob/master/src/ng/rootScope.js#L549</a></p>
</div>

