<div class="jumbotron">
  <h1>
    AngularJS Playground
  </h1>
  <p>This app is a playground for exploring the internals of AngularJS. Its Git repository includes branches that focus on different aspects of the source code. Each branch has debugger statements included in the source at helpful starting points. </p>
</div>

<div class="row marketing">
  <h4>Hangouts and Group Study</h4>
  <p>
  We hold a Google Hangout on the first Thursday of each month at 7pm Eastern time, open to all. The hangout link is tweeted a few minutes in advance. Be sure to follow <a href="https://twitter.com/readthesource">@readthesource</a>. Please join us if you'd like to participate.
  </p>

  <h4>Wiki and Issues</h4>
  <p>
  Between hangouts, we can use the project <a href="https://github.com/readthesource/angularjs-playground/wiki">wiki</a> to annotate pieces of code with explanations and the <a href="https://github.com/readthesource/angularjs-playground/issues">issues</a> for discussion.
  </p>

  <h4>Getting Started</h4>
  <p>
  Open <a href="https://developers.google.com/chrome-developer-tools/">Chrome Developer Tools</a> (option+command+j on Mac OS X) and refresh the browser. You'll be able to step through code with the <a href="https://developers.google.com/chrome-developer-tools/docs/javascript-debugging">debugger</a>.
  </p>
</div>

